# untrack file
/01_doc
/03_deploy
/Deploy
/Solution
/obsolete
/Migrations
FrmReallocation.Designer.vb
TableSchema_What.vb
Table_Template.sql
proc_Template.sql
.vs/
/.vs
/.vs/config
*.resx
*.suo
*.pdsyncu
*.pdsync
*.user
*.vspscc
*.scc
*.resx
*.snk
*.exe
*.bat
*.vssscc
*.ico
*.pfx
*.bak
*.pdb
*.dll
My Project/
Resources/
obj/
bin/
Debug/
backup/
UserControl/
packages/
MCP_WEB/.vs/slnx.sqlite
MCP_WEB/.vs/VSWorkspaceState.json
MCP_WEB/MCP_WEB.csproj~1b3e76cbab2c739bf50a7768f73d1a0a99327ef9
MCP_WEB/wwwroot/images/material-1-1000x563.jpg
MCP_WEB/wwwroot/images/banner2.svg
MCP_WEB/wwwroot/images/banner3.svg
MCP_WEB/Controllers/WebAPI/s_GlobalPamsController.cs
