@model MCP_WEB.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login User</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->

    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="~/css/LoginStyle.css">
</head>
<body>
    <div class="login-wrap">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="login-html">
                <div class="group">
                    <img src="~/images/NITTAN-LOGO.png" class="img-responsive center-block img_size" alt="...">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <img src="~/images/NITTAN-valves.png" class="img-responsive center-block img_size" alt="...">
                        </div>
                    </div>
                </div>
                <div class="group">
                    <h1 class="text-center">NITTAN WIP TRACKING SYSTEM</h1>
                </div>

                <div>
                    @if (ViewBag.UserLoginFailed != "")
                    {
                    <div class="alert-danger">
                        @ViewBag.UserLoginFailed
                    </div>
                    }

                    <div class="group">
                        <label class="label-left">Username</label>&nbsp;<span class="text-danger">*</span> <span asp-validation-for="Username" class="text-danger"></span>
                        <input asp-for="Username" class="form-control_login" />

                    </div>
                    <div class="group">
                        <label asp-for="Password" class="label-left"></label>&nbsp;<span class="text-danger">*</span><span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" class="form-control_login" />
                    </div>
                    <div class="group">
                        <div class="checkbox">
                            <label asp-for="RememberMe" class="label-left">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="group">
                        <button type="submit" class="btn btn-md font_btn_login btn-primary btn-block">Log in</button>
                    </div>
                    <br />
                    <div class="group">
                        <img src="~/images/M-focus-transparent-logo-RED-small.png" class="img-responsive center-block img_mfocus_size" alt="...">
                    </div>

                    @*<div class="group">
                        <a asp-action="Index" asp-controller="ForgotPassWord">Forgot your password?</a>
                    </div>
                    <div class="group">
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </div>*@
                </div>
            </div>
        </form>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
</body>
</html>
